<hr/>
<div class="d-flex justify-content-around container">
  <div>
    <%= comment.author.name %>: <%= comment.text %>
  </div>
  <div>
      <% if current_user&.id == comment.author_id %>
        <label for="delete-comment-<%=comment.id%>">
          <i class="fa-solid fa-trash cursor-pointer text-danger m-2" aria-hidden="true"></i>
        </label>
        <%= button_to '', comment_path(comment.id), method: :delete, class: 'd-none', id: "delete-comment-#{comment.id}" %>
      <% end %>
  </div>
</div>
<hr/>