@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blaka&family=Lobster&family=Poppins:wght@200&family=Roboto:wght@300;700&family=Signika+Negative&display=swap');

body {
  font-family: 'Signika Negative', sans-serif;
}

a {
  text-decoration: none;
}

.home {
  font-size: 2em;
}

.post {
  font-size: 2em;
}

.sign_in {
  font-size: 2em;
}

.sign_up {
  font-size: 2em;
}

.sign_out {
  font-size: 2em;
}

.navigate {
  background-image: url(/assets/leone-venter-VieM9BdZKFo-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cursor-pointer {
  cursor: pointer;
}

.next_pg {
  background-color: grey;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.next_pg:hover {
  background-color: transparent;
  color: grey;
}
